{#
    This is responsible for formatting the function call
#}
{%- set call_prefix = "" %}
{%- if "protocol" in services[function].service %}
    {%- set call_prefix = protocol_variable ~ "->" %}
{%- elif "BS" in services[function].service or "Boot" in services[function].service %}
    {%- set call_prefix = "SystemTable->BootServices->" %}
{%- elif "RT" in services[function].service or "Runtime" in services[function].service %}
    {%- set call_prefix = "SystemTable->RuntimeServices->" %}
{%- endif %}

    Status = {{ call_prefix }}{{ function }}(
            {%- for arg_key, arguments in function_block.arguments.items() %}
            {%- set arg_prefix = "&" if "void" in arguments[0].arg_type or arguments[0].pointer_count > 1 else "" %}
            {{ arg_prefix }}{{ arg_key }}{%- if not loop.last %}, {% endif %}
            {%- endfor %}
        );
