{#
    constant arguments
#}
    {{ arg_type }} {{ arg_key }};
    UINT8 *{{ arg_key }}_choice = NULL;
    ReadBytes(&Input, 1, &{{ arg_key }}_choice);
    switch({{ arg_key }}_choice % {{ arguments | length }}) {
        {# Assume that constants are formatted as __CONSTANT_<VALUE> #}
        {%- for argument in arguments %}
        case {{ loop.index }}:
            {%- if argument.usage == "" %}
            {{ arg_key }} = NULL;
            {%- else %}
            {{ arg_key }} = {{ argument.usage }};
            {%- endif %}
            break;
        {%- endfor %}
    }