{#
    This template is used to generate the code to fill the fuzzable 
    structures with random data.
#}
{% for name, obj in namespace.items() if name.startswith('__FUZZABLE_') and name.endswith('_STRUCT__') %}
    {% if obj.__class__.__name__ == 'type' %}
        {% for field_name, field_type in obj.__annotations__.items() %}
            {{ field_name }}: {{ field_type.__name__ }}
        {% endfor %}
    {% endif %}
{% endfor %}
