{#
    Handle generator functions
    INPUTS:
        gen_func 
#}

{%- set function_block=generators[gen_func] %}
{# {%- if "protocol" in services[gen_func].service %}
{%- set protocol_variable = "ProtocolVariable" %}
{{ function_block['Arg_0'][0].arg_type }} {{ protocol_variable }};
{%- endif %} #}

{%- for arg_key, arguments in function_block.arguments.items() %}
{%- set arg_type = arguments[0].arg_type if "void" not in arguments[0].arg_type else "UINTN" %}
{%- if "IN" in arguments[0].arg_dir %}

{%- if arguments[0].variable == "__FUZZABLE__" %}
{% include 'fuzzable_var_args.jinja' %}
{%- elif "__CONSTANT" in arguments[0].variable or "__ENUM_ARG__" in arguments[0].variable %}
{% include 'constant_args.jinja' %}
{%- elif "__FUNCTION_PTR__" in arguments[0].variable %}
{% include 'function_ptr_args.jinja' %}
{%- elif "EFI_GUID" in arguments[0].arg_type %}
{% include 'guid_args.jinja' %}
{%- elif (arguments[0].variable.startswith('__FUZZABLE_') and arguments[0].variable.endswith('_STRUCT__')) or "__GENERATOR_FUNCTION__" in arguments[0].variable %}
{% include 'generator_struct_args.jinja' %}    
{%- endif %}

{%- elif arguments[0].arg_dir == 'OUT' %}

{% include 'output_args.jinja' %}

{%- endif %}
{%- endfor %}
    
{% include 'call_function.jinja' %}