#ifndef __FIRNESS_HARNESSES__
#define __FIRNESS_HARNESSES__

{%- for include in includes %}
#include <{{ include }}>
{%- endfor %}
#include "FirnessHelpers.h"

{% for function, arguments_dict in functions.items() %}

EFI_STATUS
EFIAPI
Fuzz{{ function }}(
    IN INPUT_BUFFER *Input,
    IN EFI_SYSTEM_TABLE  *SystemTable
);
{%- endfor %}

#endif