{#
    This is a template for how to properly call a protocol
    INPUT: 
        protocol_guid
        protocol_variable
        function
        arguments_dict
#}

    SystemTable->BootServices->LocateProtocol({{ protocol_guid }}, NULL, (VOID *)&{{ protocol_variable }});
    Status = {{ protocol_variable }}->{{ function }}({%- for arg_key, arguments in function_block.arguments.items() %}
                    {%- set arg_prefix = "&" if "void" in arguments[0].arg_type else "" %}
                    {{ arg_prefix }}arg_{{ loop.index }}{%- if not loop.last %}, {% endif %}
                    {%- endfor %}
                );